/*##Colors*/

/*###Primary*/

$yellow-superdark: hsl(32, 100%, 45%);
$yellow-dark:hsl(32, 100%, 50%);
$yellow-light:hsl(32, 100%, 55%);

/*### Neutral*/

$very-dark-blue: hsl(210, 28%, 25%);
$dark-purple: hsl(325, 31%, 19%);
$dark-purple-light: hsl(325, 31%, 25%);
$dark-purple-strong: hsl(325, 31%, 15%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

/*## Typography*/

/*### Body*/

$font-size: 20px;

/*### Font*/

/*### Headings, Call-to-actions, Header Navigation*/
$font-heading: 'Barlow Condensed', sans-serif;

$font-w-heading-bold:700;
$font-w-heading-normal:400;

/*### Body*/
$font-body: 'Barlow', sans-serif;

$font-w-body-normal:400;
